# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java-workspace\java_exercise_Yang\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
